PORT=5000
# Database Configuration
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=slpdb

# Email Configuration (Nodemailer)
EMAIL_USER=startuplaunchpad@cyberinfospace.com
EMAIL_PASS=
SMTP_HOST=mail.cyberinfospace.com
SMTP_PORT=465
SMTP_SECURE=true

# JWT Configuration
JWT_SECRET=
